*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P";
    color:#7E7474;
    overflow-y: hidden
}

body{
    background-color: #000000;
    width:100%;
    height:100vh;
}

header{
    display:flex;
    border-bottom: 2px solid grey;
    align-items: center;
}

header h1{
    justify-self: center;
    font-size: 45px;
    color:#7E7474;
    letter-spacing:15px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}



img{
    margin-bottom:40px;
}

.imgleft{
    margin-right:40px;
    filter:drop-shadow(0px 0px 20px #FDF7E4);
    animation: lanternAnimation 4s linear infinite alternate;
}

.imgright{
    margin-left:40px;
    filter:drop-shadow(0px 0px 20px #FDF7E4);
    animation: lanternAnimation 4s linear infinite alternate;
}

@keyframes lanternAnimation {
    0% {
        filter: drop-shadow(0px 0px 20px #FDF7E4);
    }
    100% {
        filter: drop-shadow(0px 0px 30px #FDF7E4);
    }
}


.main{
    display:flex;
    flex-direction: column;
}

.buttons{
    display:flex;
    justify-content: space-evenly;
    margin-top:75px;
}

.buttons .btn{
    font-size: 20px;
    background-color: #000000;
    border:2px solid #7E7474;
    padding:15px;
}

.fire,.water,.stone{
    transition: color 2s ease;
    transition: border 0.4s ease;
}

.fire:hover{
    color:#7D0633;
    border-color: #C87941;
}

.water:hover{
    color:#133B5C;
    border-color: #0C7B93;
}

.stone:hover{
    color:#323232;
    border-color:#553b2e;
}


progress{
    border:2px solid #7E7474;
    padding: 5px;
}

.heroes{
    display: flex;
    justify-content: center;
    gap:350px;
    padding-top:50px;
    align-items: center;
}

.playerHero{
    display:flex;
    flex-direction: column;
}

.pcHero{
    display:flex;
    flex-direction: column;
}

.mage{
    transform: translatey(5px);
	animation: float 9s ease-in-out infinite;
}

.pc{
    transform: translatey(5px);
	animation: float 9s ease-in-out infinite;
}

.results{
    margin-top: 50px;
    padding: 5px;
    padding-left: 0;
}
.results p{
    padding-top:15px;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
